### Starting the challenge!
* Open up a new Jupyter Notebook using the command line
* Read in the CSV file (using Pandas or CSV reader)

### Task 0:
Some of this age data doesn't make sense, there must have been an error in it. Filter out all the rows where the age is equal to zero. How many rows were removed?

In [23]:
df = df[df['Age'] > 0]

### Task 1
Create a new variable, age_group, that categorizes users as “<18”, “18-24”, “25-34”, “35-44”, “45-54”, “55-64” and “65+”.

In [16]:
bins = [0, 18, 25, 35, 45, 55, 65, 100]
group_names = ["<18", "18-24", "25-34", "35-44", "45-54", "55-64", "65+"]
df['age_group'] = pd.cut(df.Age, bins, labels=group_names)

In [17]:
pd.value_counts(df['age_group'])

35-44    130
25-34    120
18-24     72
45-54     67
<18       64
55-64     32
65+       12
Name: age_group, dtype: int64

### Task 2
For a single day,
Plot the distributions of number of impressions and click-through-rate

In [18]:
df

     Age  Clicks  Day  Gender  Impressions  Signed_In age_group
0     42       1    8       1            3          0     35-44
1     32       1   19       0            0          1     25-34
2     44       2   14       0            2          1     35-44
3     57       1   25       1            0          0     55-64
4     31       3    8       1            0          0     25-34
5     31       1   20       0            1          1     25-34
6     58       5   18       0            0          0     55-64
7     46       2   10       0            2          1     45-54
8     27       0    6       0            2          0     25-34
9     43       3   19       0            0          0     35-44
10    28       0   21       0            0          1     25-34
11    28       2   10       0            0          0     25-34
12    38       1   19       0            0          1     35-44
13     6       2   12       1            9          0       <18
14     9       2   20       0            0          0       <18
15    26       2    7       0            0          1     25-34
16    19       2   25       0            0          0     18-24
17    39       1   10       1            0          1     35-44
18    21       0   12       0            2          0     18-24
19    13       1    4       0            0          0       <18
20    56       0    5       1            2          1     55-64
21    31       2   15       1            0          0     25-34
22    36       1    9       1            8          0     35-44
23    13       4   24       0            0          0       <18
24    26       2    1       0            0          0     25-34
25    36       2   12       1            6          0     35-44
26    17       0   11       1            0          1       <18
27    40       2    1       0            7          1     35-44
28    25       3    5       0            1          1     18-24
29    30       1   13       0            0          1     25-34
..   ...     ...  ...     ...          ...        ...       ...
470   30       2   27       0            0          0     25-34
471    0       1   24       0            0          0       NaN
472   12       0   23       1            2          0       <18
473   55       0   23       0            0          1     45-54
474   59       1   26       0            1          0     55-64
475   31       1   16       0            2          0     25-34
476   43       2    7       1            6          1     35-44
477   39       2   18       0            0          1     35-44
478   81       0   21       1            0          1       65+
479   51       2   21       0            0          1     45-54
480   33       0   16       0            9          1     25-34
481   20       2    4       0            6          1     18-24
482   10       2   12       1            0          0       <18
483   38       1   26       0            2          0     35-44
484   23       2   17       1            0          1     18-24
485   13       1   16       0            0          0       <18
486   25       1    9       0            0          0     18-24
487   18       2   12       1            2          0       <18
488   60       1   25       1            0          1     55-64
489   48       1   19       1            2          0     45-54
490   34       1   22       1            2          0     25-34
491   57       2   14       1            1          0     55-64
492   36       1   18       1            0          0     35-44
493   22       0    9       1            0          0     18-24
494   57       2   20       1            0          0     55-64
495   43       2   13       1            0          0     35-44
496   19       0   14       1            0          1     18-24
497   32       0   19       1            7          0     25-34
498   21       0   26       0            0          1     18-24
499   14       1    4       1            0          1       <18

[500 rows x 7 columns]

### Task 3
Define a new variable to segment or categorize users based on their click behavior

### Task 4
Explore the data and make visual and quantitative comparisons across user segments / demographics

### Task 5
Create metrics/measurements/statistics that summarize the data

### Task 6 
Now extend your analysis across days. Visualize metrics and distributions over time

### Task 7
Describe and interpret any patterns you find